html {  
    scroll-behavior: smooth;  
}  
body {  
    background: antiquewhite;  
}  
.m-heading {  
    font-family: "Roboto Slab", serif;  
}  
.navigation-link:hover {  
    text-decoration: none;  
    border-bottom: 2px solid black;  
    transition: 0.5s ease;  
}  
.navigation {  
    z-index: 100;  
    position: sticky;  
    top: 0px;  
    left: 0px;  
    background-color: orange;  
}  
.form {  
    background-color: pink;  
    border: 2px solid red;  
    border-radius: 25px;  
    padding: 15px;  
}  
label {  
    color: white;  
    font-size: 25px;  
    font-weight: 600;  
}  
.input {  
    padding: 10px;  
    border-radius: 30px;  
    box-shadow: 4px 4px 2px black;  
}  
input.input:hover {  
    box-shadow: 10px 10px 2px black;  
}  
button {  
    background-color: blue;  
    border: 3px;  
    padding: 20px 30px;  
    border-radius: 15px;  
    box-shadow: 4px 4px 2px black;  
}  
button:hover {  
    box-shadow: 10px 10px 2px black;  
}  
.img {  
    height: 30px;  
    width: 30px;  
    margin: 0px;  
    border-radius: 50%;  
    border: 2px dashed black;  
}  
.pic {  
    height: 300px;  
    width: 150px;  
}  
.pics {  
    text-align: center;  
    margin-top: 25px;  
    background-position-y: bottom;  
}  
.pic1 {  
    transform: rotateZ(-45deg);  
    border-radius: 15px;  
    border: 2px solid black;  
}  
.pic2 {  
    transform: rotateZ(0deg);  
    border-radius: 15px;  
    border: 2px solid black;  
}  
.pic3 {  
    transform: rotateZ(45deg);  
    border-radius: 15px;  
    border: 2px solid black;  
}  
.pic4 {  
    height: 300px;  
    width: 300px;  
    border: 2px dashed red;  
    border-radius: 50%;  
}  
.namep {  
    text-transform: uppercase;  
}  
body.bg {  
    color: white;  
    text-align: center;  
    background-image: url(./backwhatsapp.jpg);  
    background-repeat: repeat;  
}  
.sidepic {  
    height: 500px;  
    width: 500px;  
    border: 2px solid red;  
    border-radius: 100%;  
}  
.about {  
    background-color: aqua;  
}  
.home {  
    height: 550px;  
    width: 350px;  
    margin-bottom: 5px;  
}  
.cp {  
    font-family: "Playwrite IE Guides", serif;  
    font-weight: 700;  
    font-style: normal;  
}  
.food {  
    height: 400px;  
}  
.card {  
    width: 250px;  
}  
.card-img-top {  
    height: 250px;  
}  

@media (min-width: 319px) and (max-width: 480px) {  
    .img {  
        height: 7.5px;  
        width: 7.5px;  
    }  
    .pic {  
        height: 75px;  
        width: 37.5px;  
    }  
    .pic4 {  
        height: 75px;  
        width: 75px;  
    }  
    .sidepic {  
        height: 125px;  
        width: 125px;  
    }  
    .home {  
        height: 137.5px;  
        width: 87.5px;  
    }  
    .food {  
        height: 100px;  
    }  
    .card {  
        width: 125px;  
    }  
    .card-img-top {  
        height: 125px;  
    }  
}  

@media (min-width: 481px) and (max-width: 1200px) {  
    .img {  
        height: 22.5px;  
        width: 22.5px;  
    }  
    .pic {  
        height: 225px;  
        width: 112.5px;  
    }  
    .pic4 {  
        height: 225px;  
        width: 225px;  
    }  
    .sidepic {  
        height: 375px;  
        width: 375px;  
    }  
    .home {  
        height: 412.5px;  
        width: 262.5px;  
    }  
    .food {  
        height: 300px;  
    }  
    .card {  
        width: 187.5px;  
    }  
    .card-img-top {  
        height: 187.5px;  
    }  
}  

@media (min-width: 1201px) and (max-width: 1600px) {  
    .img {  
        height: 20px;  
        width: 20px;  
    }  
    .pic {  
        height: 200px;  
        width: 100px;  
    }  
    .pic4 {  
        height: 200px;  
        width: 200px;  
    }  
    .sidepic {  
        height: 333.33px;  
        width: 333.33px;  
    }  
    .home {  
        height: 366.67px;  
        width: 233.33px;  
    }  
    .food {  
        height: 266.67px;  
    }  
    .card {  
        width: 200px;  
    }  
    .card-img-top {  
        height: 200px;  
    }  
}  

@media (min-width: 1601px) {  
    .img {  
        height: 30px;  
        width: 30px;  
    }  
    .pic {  
        height: 300px;  
        width: 150px;  
    }  
    .pic4 {  
        height: 300px;  
        width: 300px;  
    }  
    .sidepic {  
        height: 500px;  
        width: 500px;  
    }  
    .home {  
        height: 550px;  
        width: 350px;  
    }  
    .food {  
        height: 400px;  
    }  
    .card {  
        width: 250px;  
    }  
    .card-img-top {  
        height: 250px;  
    }  
}
